---
import Button from "./Button.astro";
import { Icon } from "astro-icon/components";
---

<section
  class="flex gap-6 max-w-screen-sm mx-auto py-14 sm:py-20 md:py-24 mb-12 md:mb-24 text-center"
>
  <div class="flex flex-col">
    <p
      class="mb-5 mt-2.5 text-nord-8 font-mono text-base w-full whitespace-nowrap"
    >
      What's Next?
    </p>
    <h2 class="mb-2.5 font-semibold leading-[1.1] text-clamp-contactme">
      Contact Me
    </h2>
    <p class="m-0 text-nord-4">
      I'm open to new opportunities and welcome any messages. Whether you have a
      question or just want to connect, I'll be sure to get back to you
      promptly!
    </p>
    <Button href="mailto:degiraldod@gmail.com" extraClass="mt-12 mx-auto">
      <Icon name="mdi:hand-wave-outline" class="h-6 w-6" />
       Say Hello!
    </Button>
  </div>
</section>
